<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
    <script src="js/crud.js"></script>
    <title>Document</title>
</head>
<style>
    table,form {
        margin: auto;    
    }
</style>
<body>
    <form action="/add" id="userform">
        Name:       <input type="text" name="user" required><br><br>
        Mobile no.: <input type="text" name="pswd" required><br><br>
        <button type="submit" id="save">save</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Mobile
                </th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
</html>